:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --green: #e6e87a;
  --yellow: #fad765;
  --bg-primary: #f8edc6;
  --orange: #de703a;
}

body {
  margin: 0;
  min-height: 100vh;
}

.dropdown-menu li :hover {
  background: var(--orange);
  opacity: 0.4;
}

.bg-primary {
  background-color: var(--bg-primary) !important;
}

.text-orange {
  color: var(--orange);
}

.bg-orange {
  background-color: var(--orange);
}

.btn-orange {
  color: white;
  background-color: var(--orange);
}

.btn-orange:hover {
  color: white;
  background-color: var(--orange);
  opacity: 0.9;
}

.btn-outline-orange {
  color: var(--orange);
  border-color: var(--orange);
}

.btn-outline-orange:hover {
  color: var(--orange);
  border-color: var(--orange);
  opacity: 0.9;
}

.btn-green {
  background-color: var(--green);
}

.btn-green:hover {
  background-color: var(--green);
  opacity: 0.9;
}

.btn-yellow {
  background-color: var(--yellow);
}

.btn-yellow:hover {
  background-color: var(--yellow);
  opacity: 0.9;
}

.btn-custom {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 60px;
  width: 210px;
  opacity: 1;
  background-color: #ffffff;
  border: none;
}

.btn-custom .text {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.btn-custom:hover {
  animation: rotate 0.7s ease-in-out both;
}

.btn-custom:hover .text {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}


@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-1deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.text-primary {
  color: #a1ddd1 !important;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.loading-container .spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loading-container p {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #333;
}
